#email b {
    display: none;
}

header {
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #9bb0a4;
    transform: translateY(-100vh);
    height: calc(100vh + 100%);
}

.init-sequence::before {
    content: 'INIT ////\Asystem check ok\A arranging bits\A¬\ALATENCY 12 MS\A¬';
    white-space: pre-line;
}

.footer-sequence::after {
    content: '¬\ASTATE READY';
    white-space: pre-line;
    display: block;
}

nav ul {
    list-style: none;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:visited {
    color: inherit;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 136px;
    overflow: hidden;
    opacity: 0.75;
    mix-blend-mode: multiply;
    transition: opacity 500ms ease-in-out;
}

.image-container:hover {
    opacity: 0.85;
}

.image-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: #1a575a;
    mix-blend-mode: soft-light;
}
